<!DOCTYPE html>
<html lang="en" ng-app="starterApp"><!-- make sure to rename your app -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <navbar></navbar>
    <ui-view class="container"></ui-view>
</body>
</html>